#card-menu{
  height: 91vh;  
}

.card-header{
  height: 60px;
}
#avatar{
  transform:scaleX(-1)
}

.badge-status {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: #48ff00; 
    border: 2px solid white;
    border-radius: 50%;
     transform: translate(0%,180%); 
}

 
.nav-tabs {
  border-bottom: 1px solid var(--bs-border-color);
}

.nav-tabs .nav-link {
  background: transparent;
  border: 1px solid transparent;
  margin-bottom: -1px;
}

.nav-tabs .nav-link.active {
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color) var(--bs-border-color) transparent;
}
