#card-menu{
  height: 95vh;  
}

.card-header{
  height: 60px;
}

#avatar{
  transform:scaleX(-1)
}

.badge-status {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: #48ff00; 
    border: 2px solid white;
    border-radius: 50%;
    transform: translate(0%,180%); 
}
