.card-header{
  height: 60px;
}

#avatar{
  transform:scaleX(-1)
}

.badge-status {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: #48ff00; 
    border: 2px solid white;
    border-radius: 50%;
    transform: translate(0%,180%); 
}
.nav-pills .nav-link {
  border-radius: 0.375rem;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
   background-color: var(--bs-primary);
  color: #fff;
}

.nav-link{
  font-size: 18px;
}

.text-Abono{
  color: rgb(7, 209, 7) !important;
  font-weight: bolder;
}
.text-Transferencia{
  color: red !important;
  font-weight: bolder;
}
